---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Standards">
  <h1>Standards</h1>
  <p>Draft standards and proposals.</p>
  <ul>
    <li><a href="/standards/">Browse standards</a></li>
  </ul>
</BaseLayout>
